<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{trans "GDPR Data Deletion Request"}}</title>
</head>
<body>
<!--@subject {{trans "GDPR Data Deletion Request"}}  @-->

<p>{{trans "Dear Admin,"}}</p>
<p>{{trans "A GDPR data deletion request has been made by the following customer:"}}</p>
<ul>
    <li>{{trans "Customer Name:"}} {{var customer_name}}</li>
    <li>{{trans "Customer Email:"}} {{var customer_email}}</li>
</ul>
<p>{{trans "Please process this request as soon as possible."}}</p>
<p>{{trans "Best regards,"}}<br/>{{trans "Ruroc Team"}}</p>
</body>
</html>
